<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boy.mapper.SessionMapper">
  <resultMap id="BaseResultMap" type="com.boy.domain.Session">
    <!--@mbg.generated-->
    <!--@Table `session`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="first_season" jdbcType="BIGINT" property="firstSeason" />
    <result column="second_season" jdbcType="BIGINT" property="secondSeason" />
    <result column="third_season" jdbcType="BIGINT" property="thirdSeason" />
    <result column="forth_season" jdbcType="BIGINT" property="forthSeason" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, first_season, second_season, third_season, forth_season, create_time, create_by,
    update_time, update_by, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from `session`
    where id = #{id,jdbcType=BIGINT}
  </select>

    <select id="selectAll" resultType="com.boy.domain.Session">
    select
      *
      from
        `session`
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from `session`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.boy.domain.Session" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `session` (`name`, first_season, second_season,
      third_season, forth_season, create_time,
      create_by, update_time, update_by,
      del_flag)
    values (#{name,jdbcType=VARCHAR}, #{firstSeason,jdbcType=BIGINT}, #{secondSeason,jdbcType=BIGINT},
      #{thirdSeason,jdbcType=BIGINT}, #{forthSeason,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
      #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT},
      #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.boy.domain.Session" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `session`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="firstSeason != null">
        first_season,
      </if>
      <if test="secondSeason != null">
        second_season,
      </if>
      <if test="thirdSeason != null">
        third_season,
      </if>
      <if test="forthSeason != null">
        forth_season,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstSeason != null">
        #{firstSeason,jdbcType=BIGINT},
      </if>
      <if test="secondSeason != null">
        #{secondSeason,jdbcType=BIGINT},
      </if>
      <if test="thirdSeason != null">
        #{thirdSeason,jdbcType=BIGINT},
      </if>
      <if test="forthSeason != null">
        #{forthSeason,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boy.domain.Session">
    <!--@mbg.generated-->
    update `session`
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstSeason != null">
        first_season = #{firstSeason,jdbcType=BIGINT},
      </if>
      <if test="secondSeason != null">
        second_season = #{secondSeason,jdbcType=BIGINT},
      </if>
      <if test="thirdSeason != null">
        third_season = #{thirdSeason,jdbcType=BIGINT},
      </if>
      <if test="forthSeason != null">
        forth_season = #{forthSeason,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>
